body {
  background-color: rgb(241, 241, 241);
}

button {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
}

.container {
  gap: 20px;
  height: 80%;

  &__left,
  &__right {
    flex: 0 0 50%;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.05);
  }

  &__left {
    flex-grow: 1;
  }

  &__right {
    flex-basis: 40%;

    .model {
      height: 100%;
      bottom: 0;

      img {
        object-fit: contain;
        object-position: bottom;
        transform: scale(120%);

        &:last-of-type {
          top: -40%;
          left: 0;
          transform: scale(60%);
        }
      }
    }

    .btns {
      right: 0;

      button {
        width: 100px;
      }
    }

    .glasses-info {
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.3);
      border-radius: 20px 20px 0 0;
      backdrop-filter: blur(10px);

      span {
        font-size: 1.3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  @media only screen and (max-width:1200px) {
    &__left {
      button {
        width: (100%/3) !important;
      }
    }

    &__right {
      .model {
        img {
          &:last-of-type {
            top: -38%;
            transform: scale(70%);
          }
        }
      }
    }
  }

  @media only screen and (max-width:992px) {
    &__left {
      button {
        width: 50% !important;
      }
    }

    &__right {
      flex-basis: 60%;

      .model {
        img {
          &:last-of-type {
            top: -33%;
            transform: scale(75%);
          }
        }
      }
    }
  }

  @media only screen and (max-width:768px) {
    &__right {
      .model {
        img {
          &:last-of-type {
            top: -30%;
            transform: scale(70%);
          }
        }
      }
    }
  }
}